body{
    background-image: url(jess-bailey-y7GlIdTUOvo-unsplash.jpg);
    background-position:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: 0,0,0,0.7;
    margin: 0;

}
nav{
    background: #000000;
    font-family: poppins,sans-serif;
    
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0px;
        display: inline;
    }
    nav ul li{
        float: right;
        padding:10px;
        line-height: 80px;
        margin: 0 5px;
    

    }
    nav ul li a{
        display: block;
        padding: 14px 16px;
        text-align: center;
        color: white;
    font-size: medium;
    }
h1{
color: black;
text-align: center;
}
h2{
    color:black;
margin-left: 20%;
}

  

footer{
    position: fixed;
    bottom: 0;
    padding-left: 40%;
    background-color: black;
    color: white;
    width: 100%;
    font-style: normal;
}
 nav a{
    float: right;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
     
}
nav{
    background-color:black;
   min-height: 8vh;
   font-family: poppins,sans-serif;
   
}
::-webkit-scrollbar{
    display: none;
}
